body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
}

.header {
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 4;
    display: grid;

}

.header > .title {
    grid-column: 1 / 3;
    background: rgb(29,41,48);
    background: radial-gradient(circle, rgba(29,41,48,1) 20%, rgba(255,255,255,1) 100%); 
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header > .social {
    background-color: white;
    grid-column: 1 / 2;
    padding: 5px;
    
}

.header-img {
    height: 20px;
    width: 20px;
}

.header > .sm-nav {
    grid-column: 2 / 3;
    display: flex;
    justify-content: right;
    background-color: white;
    padding: 5px;
}

.hero {
    grid-column: 1 / 4;
    height: 52vw;
    background-image: url("../img/mouantains.jpg");
    background-size: 100%;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero > .page-name {
    font-size: 10vw;
    color: rgba(29,41,48,1);
}

.hero-blog-post {
    grid-column: 1 / 4;
    height: 52vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
    linear-gradient(to right top, #1d2930, #242d36, #2c303c, #353441, #3e3744, #423b4a, #463f51, #494357, #424a62, #36526a, #265a6e, #15616d)
    left
    bottom
    no-repeat
    ;
}

.hero-blog-post > .page-name {
    font-size: 3vw;
    color:white;
}



.nav-container {
    grid-column: 1 / 4;
    background: 
    radial-gradient(circle, rgba(29,41,48,1) 20%, rgba(255,255,255,1) 100%)
    left
    bottom
    no-repeat
    ;
    background-size: 100% 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.responsive-nav-menu {
    width: 100%;
    display: flex;
    text-align:center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

.responsive-nav-menu > img {
    height: 20px;
    width: 20px;
}

.nav-item-container {
    display: none;
}

.nav-item-container-open {
    display: block;
}

.nav-item{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
} 

.nav-item > a {
    color: rgba(29,41,48,1);
    text-decoration: none;
}

.nav-item:hover {
    text-decoration: underline;
    cursor: context-menu;
}

.content {
    grid-column: 2 / 3;

}

.content-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

figure {
    width: 300px;
    height: 200px;
    margin: 25px;
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: auto;
    padding-top: 15px;

}

figure > img {        
    max-width: 100%;
    max-height: 100%;

}

figcaption {
    padding: 3px;
    text-align: center;
}

.blog-post-card {
    width: 300px;
    height: 250px;
    margin: 25px;;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 50px 100px;
    border-radius: 10px;
}

.blog-post-card-title-holder {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 70px 30px;
    background-image: linear-gradient(to right top, #1d2930, #242d36, #2c303c, #353441, #3e3744, #423b4a, #463f51, #494357, #424a62, #36526a, #265a6e, #15616d);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog-post-card-title {
    grid-row: 2 / 3;
}

.blog-post-card-title > h1 {
    margin: 0;
    font-size: 25px;
    padding-left: 10px;
    color: white;
}


.blog-post-meta-data {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: 
    linear-gradient(to right top, #1d2930, #242d36, #2c303c, #353441, #3e3744, #423b4a, #463f51, #494357, #424a62, #36526a, #265a6e, #15616d)
    left
    bottom
    no-repeat
    ;
    background-size: 100% 2px;

}

.blog-post-meta-data > .tag {
    border: solid green;
    background-color: green;
    border-radius: 30%;
    color: white;
    margin: 10px;
    font-size: 8px;
}

.blog-post-meta-data > .author {
    font-size: 12px;
}

.blog-post-meta-data > .date {
    margin: 10px;
    font-size: 12px;

}

.blog-post-content {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blog-post-content > p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}

.blog-post-card-link {
    text-decoration: none;
    color: black;
}